<div ng-controller="views.advertising.putadsense as vm">
    <div class="row">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <span>广告发放</span> <small></small>
                </div>
            </div>
        </div>

    </div>
    <div class="portlet light bordered">
        <div class="row">
            <div class="col-xs-8 text-left">
                <div class="col-md-4">
                    <div class="input-icon right">
                        <p class="input-group">
                            <input type="text" class="form-control" placeholder="开始时间"
                                   uib-datepicker-popup readonly
                                   ng-model="vm.filter.startTime"
                                   is-open="vm.date.leftopen"
                                   datepicker-options="vm.date.dateOptions"
                                   ng-required="true"
                                   current-text="今天"
                                   clear-text="清除"
                                   close-text="关闭" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="vm.date.openleft()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-icon right">
                        <p class="input-group">
                            <input type="text" class="form-control" placeholder="结束时间"
                                   uib-datepicker-popup readonly ng-model="vm.filter.endTime"
                                   is-open="vm.date.rightopen"
                                   datepicker-options="vm.date.dateOptions"
                                   ng-required="true"
                                   current-text="今天"
                                   clear-text="清除"
                                   close-text="关闭" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="vm.date.openright()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-icon right">
                        <i ng-click="vm.add()" class="fa fa-search"></i>
                        <input type="text" class="form-control input-circle" placeholder="按条件搜索" ng-model="vm.table.filter">
                    </div>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <button class="btn btn-primary blue" ng-click="vm.allow()"><i class="fa fa-laptop"></i> 分配</button>
                <button class="btn btn-primary blue" ng-click="vm.back()"><i class="fa fa-laptop"></i> 返回</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="portlet light">
                    <div class="portlet-title myPortlet-title">
                        <span class="myPortlet-title-span">
                            组织机构
                        </span>
                    </div>
                    <div class="portlet-body scrollList portlet-scroll" ng-scrollbar>
                        <div id="OrganizationUnitEditTree"></div>
                        <div ng-if="!vm.organizationTree.unitCount" class="text-muted">
                            暂无组织机构
                        </div>
                     
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- 角色列表 -->
                <table object-table
                       data="vm.table.data"
                       check-model="vm.table.checkModel"
                       display="vm.table.pageConfig.itemsPerPage"
                       headers="活动标题,简介,状态,创建时间"
                       fields="title,description,isActive,creationTime">
                    <tbody>
                        <tr ng-click="$owner.showeditinfo(item);setSelected(item)">
                            <td>
                                <input type="checkbox" ng-model="::item.checked"
                                       ng-click="$event.stopPropagation(); checkOne(item)" />
                            </td>
                            <td show-td item="item" name="title"></td>
                            <td show-td item="item" name="description"></td>
                            <td>{{item.isActive}}</td>
                            <td show-td item="item" name="creationTime" format="yyyy-MM-dd  HH:mm"></td>


                        </tr>
                    </tbody>
                </table>
                <!--分页-->
                <nav class="paging">
                    <obj-pagination conf="vm.table.pageConfig"></obj-pagination>
                </nav>
            </div>


        

        </div>
    </div>
</div>
