<div ng-controller="views.adsense.index as vm">
    <div class="row">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <span>广告资源管理</span> <small></small>
                </div>
            </div>
        </div>

    </div>
    <div class="portlet light bordered">
        <div class="row">
            <div class="col-xs-6 text-left">
                <div class="col-md-4">
                    <div class="input-icon right">
                        <input type="text" class="form-control input-fixed" placeholder="起始时间">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-icon right">
                        <input type="text" class="form-control input-fixed" placeholder="截至时间">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-icon right">
                        <i class="fa fa-microphone"></i>
                        <input type="text" class="form-control input-fixed" placeholder="按条件搜索">
                    </div>
                </div>
                  
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-primary blue" ng-click="vm.add()"><i class="fa fa-plus"></i> 添加</button>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                </tr>
            </thead>
            <tr>
                <td>aaa</td>
                <td>bbb</td>
                <td>ccc</td>
            </tr>
        </table>
    </div>
</div>










